# DUB files
.dub
docs.json
__dummy.html
docs/
/chod
chod.so
chod.dylib
chod.dll
chod.a
chod.lib
chod-test-*
*.exe
*.o
*.obj
*.lst
*.dll
dub.selections.json

# Chocolatey related
*.nupkg
*.zip

# Personal stuff
perso/